html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

.background {
  transition: opacity;
  transition-duration: 0.5s;
  visibility: hidden;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0%;
}

.body {
  background: #F2F2F2;
}

.text {
  font-family: "Roboto";
  font-size: 13px;
  color: #1D1D1D;
}
.text.text_price {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
}
.text.dish__text {
  color: #626262;
}
.text.login__text {
  font-size: 19px;
}
.text.text-header {
  font-size: 22px;
  word-break: break-all;
}
.text.wallpaper__text {
  font-size: 14px;
}
.text.wallpaper__text.text_header {
  font-size: 36px;
}
.text.wallpaper__text.text_time {
  font-size: 13px;
  color: #FFFFFF;
  background-color: #262626;
}
.text.menu__text {
  font-size: 16px;
  color: #626262;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.text.menu__text:hover {
  color: #000000;
}
.text.menu__text.text_active {
  color: #327430;
}
.text.card__header {
  font-size: 16px;
}
.text.text-cousine {
  color: #626262;
  font-size: 14px;
}
.text.text-delivery-time {
  font-size: 13px;
}
.text_hidden {
  display: none;
  font-size: 17px;
}
.text.footer__text {
  color: #FFFFFF;
}
@media screen and (max-width: 500px) {
  .text.footer__text {
    font-size: 12px;
  }
}
.text.footer__text_small {
  font-size: 11px;
}
.text.footer__text_big {
  font-size: 16px;
}
.text.footer__text_big .green {
  color: #49A144;
}

.content {
  width: 956px;
}
@media screen and (max-width: 970px) {
  .content {
    max-width: 632px;
  }
}
@media screen and (max-width: 660px) {
  .content {
    max-width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .content {
    max-width: 316px;
  }
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 956px;
}
.header .content .header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 134px;
}
.header .content .header__buttons .basket-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .content {
  display: inline-flex;
}
.menu .content .text {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: left;
  padding-right: 40px;
}
@media screen and (max-width: 970px) {
  .menu .content .text {
    font-size: 15px;
  }
}
.menu .content .text:hover {
  cursor: pointer;
}
.menu .content .text.text_active:hover {
  cursor: initial;
}
.footer .content {
  width: 956px;
}

.log-in-wrapper {
  display: flex;
  justify-content: center;
}
.log-in-wrapper .log-in {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 4;
  position: fixed;
  top: -300px;
  transition: top;
  transition-duration: 0.5s;
  background: #FFFFFF;
  width: 400px;
  height: 300px;
}
.log-in-wrapper .log-in .email-box, .log-in-wrapper .log-in .password-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-in-wrapper .log-in .email-box .input, .log-in-wrapper .log-in .password-box .input {
  height: 1.5rem;
  margin-top: 12px;
}

.header {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 16px 0 rgba(38, 38, 38, 0.16);
  width: 100%;
  height: 72px;
  background: #FFFFFF;
}
.header .basket-wrapper:hover {
  position: relative;
  top: 3px;
  cursor: pointer;
}

.wallpaper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 364px;
  background-image: url("images/wallpaper.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wallpaper .content {
  display: flex;
  align-items: center;
}
.wallpaper__card {
  height: 204px;
  width: 389px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: stretch;
  background-color: #FFFFFF;
  box-shadow: 0 0 16px 0 rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}
.wallpaper__card .text_header {
  text-align: center;
}
.wallpaper__card .wallpaper__text-wrapper {
  display: flex;
  justify-content: space-around;
}
.wallpaper__card .wallpaper__text-wrapper .text_time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100px;
  border-radius: 16px;
}

.main {
  overflow: hidden;
  min-height: 500px;
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .search {
  margin-top: 56px;
  margin-bottom: 28px;
}
.main .text-header {
  margin-top: 35px;
  margin-bottom: 14px;
}
.main .button-wrapper {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main .menu {
  height: 80px;
  border: 1px solid rgba(75, 75, 75, 0.2);
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  margin: 0;
  padding: 0 3px 0 3px;
  border: 1px solid rgba(75, 75, 75, 0.3);
  border-radius: 2px;
  font-size: 16px;
}
.input:focus {
  outline: none;
}

.search {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(75, 75, 75, 0.3);
  height: 1.3rem;
  font-size: 16px;
  letter-spacing: 0.12px;
}
.search::-moz-placeholder {
  color: rgba(62, 62, 62, 0.5);
}
.search::placeholder {
  color: rgba(62, 62, 62, 0.5);
}
.search:focus {
  outline: 0;
}
.search:focus::-moz-placeholder {
  opacity: 0%;
}
.search:focus::placeholder {
  opacity: 0%;
}

.dishes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 71.5px;
}
.dishes .dish {
  height: 160px;
  width: 470px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}
@media screen and (max-width: 970px) {
  .dishes .dish {
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .dishes .dish:hover {
    cursor: pointer;
  }
}
.dishes .dish__basket {
  position: relative;
  z-index: 0;
  top: 21px;
  width: 30px;
}
.dishes .dish__basket:hover {
  top: 24px;
}
.dishes .dish__text-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dishes .dish__text-wrapper .card__header {
  margin-bottom: 0.8em;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 71.5px;
}
@media screen and (max-width: 660px) {
  .cards {
    justify-content: space-between;
  }
}
.cards .card {
  width: 308px;
  height: 366px;
  margin-top: 8px;
  margin-bottom: 8px;
}
@media screen and (max-width: 970px) {
  .cards .card {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 660px) {
  .cards .card {
    width: 48%;
    height: 48%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  .cards .card__photo {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .cards .card {
    width: 308px;
    height: 366px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.cards .card:hover {
  background: rgba(75, 75, 75, 0.04);
  cursor: pointer;
}
.cards .card:active {
  background: rgba(75, 75, 75, 0.08);
}
.cards .card .card__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 110px;
}

.footer {
  display: flex;
  justify-content: center;
  height: 100%;
  background: #262626;
}
.footer .line {
  background: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
}
.footer .footer__block {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}
.footer .footer__block_left {
  justify-content: flex-start;
}
.footer .footer__block_around {
  justify-content: space-around;
}
.footer .footer__block_between {
  justify-content: space-between;
}
.footer .footer__block_center {
  align-items: center;
}
.footer .footer__block .link_logo:hover {
  opacity: 80%;
}
.footer .footer__block .link_logo:hover:active {
  opacity: 60%;
}
.footer .footer__block .footer__images {
  display: flex;
  justify-content: space-around;
  width: 330px;
}
.footer .footer__block .footer__elements {
  width: 308px;
}
.footer .footer__block .footer__elements .link {
  color: rgba(0, 0, 0, 0);
}
.footer .footer__block .footer__elements .link:hover .text {
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer__block .footer__elements .link:active {
  color: none;
}
.footer .footer__block .footer__elements .link:active .text {
  color: rgba(255, 255, 255, 0.6);
}

.arrow-top {
  display: none;
  height: 80px;
  width: 80px;
  position: fixed;
  background: rgb(89, 189, 90);
  border-radius: 2px;
  border: none;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  outline: none;
  cursor: pointer;
}
.arrow-top:hover {
  background: rgba(89, 189, 90, 0.8);
}
.arrow-top:active {
  background: rgba(89, 189, 90, 0.6);
}

.line {
  width: 100%;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

.button {
  height: 40px;
  width: 78px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}
.button__text {
  font-size: 13px;
}
.button:hover {
  cursor: pointer;
  background: #f0f0f0;
}
.button:active {
  background: #e5e2e2;
}
.button_basket {
  width: 150px;
}
.button_passive .text {
  color: rgba(0, 0, 0, 0.4);
}
.button_passive:hover {
  background: #FFFFFF;
  cursor: auto;
}

.select {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3b3b3b;
  height: 40px;
  width: 210px;
}
.select:hover {
  background: #333333;
  cursor: pointer;
}
@media screen and (max-width: 970px) {
  .select {
    width: 160px;
  }
}
@media screen and (max-width: 660px) {
  .select {
    width: 60%;
  }
  .select .select__language {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 500px) {
  .select {
    width: 70px;
    height: 24px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .select .text {
    font-size: 11px;
  }
  .select .select__arrow {
    height: 5px;
    width: 8.75px;
  }
}
.select_hidden {
  display: none;
  z-index: 1;
  position: absolute;
}
@media screen and (max-width: 660px) {
  .select_hidden {
    width: 16%;
  }
}
@media screen and (max-width: 500px) {
  .select_hidden {
    width: 70px;
    height: 24px;
  }
}
.select_hidden .select__language {
  padding-left: 33px;
}
@media screen and (max-width: 660px) {
  .select_hidden .select__language {
    padding: 0;
  }
}
.select__language {
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .select__language {
    width: 83%;
  }
}
.select__logo {
  height: 16px;
  width: 16px;
}
@media screen and (max-width: 500px) {
  .select__logo {
    height: 12px;
    width: 12px;
  }
}